.first{
    width: 100%;
    display: flex;
}
.first-column {
    width: 50%;
    
    padding: 40px;
    
    margin-left: 80px;
}
.first-column #shelter{
    
    margin-top: 80px;
}

.second-column {
    width: 50%;
    
}
.second-column img{
    width: 700px;
    height: 382px ;
    margin-top: 20px;
    
}
.second{
    width: 100%;
    display: flex;
    
}
.fourth-column {
    width: 50%;
    
    padding: 40px;
    
    margin-left: 80px;
}
.fourth-column #pool{
    
    margin-top: 80px;
}

.third-column{
    width: 50%; 
}
.third-column img{
    width: 700px;
    height: 400px ;
    margin-top: 20px;
    
}
.third{
    width: 100%;
    display: flex;
    
}
.fifth-column {
    width: 50%;
    
    padding: 40px;
    
    margin-left: 80px;
}
.fifth-column #healthy{
    
    margin-top: 80px;
}

.sixth-column{
    width: 50%; 
}
.sixth-column img{
    width: 700px;
    height: 400px ;
    margin-top: 20px;
    
}
.fourth{
    width: 100%;
    display: flex;
    
}
.seventh-column {
    width: 50%;
    
    padding: 40px;
    
    margin-left: 80px;
}
.seventh-column #game{
    
    margin-top: 80px;
}

.eight-column{
    width: 50%; 
}
.eight-column img{
    width: 700px;
    height: 400px ;
    margin-top: 20px;
    
}
.fifth{
    width: 100%;
    display: flex;
    
}
.ninth-column {
    width: 50%;
    
    padding: 40px;
    
    margin-left: 80px;
}
.ninth-column #fashion{
    
    margin-top: 80px;
}

.tenth-column{
    width: 50%; 
}
.tenth-column img{
    width: 700px;
    height: 400px ;
    margin-top: 20px;
    
}

